@import "tailwindcss";

@theme inline {
  --font-sans: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0e0e0e;
  color: #ffffff;
}

/* Material Symbols Adjustments */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
